@import "./variables.scss";

.createForm {
  margin: 0rem 2rem 4rem 2rem;
}

.createNewPost {
  background: $color-salmon;
  color: white;
}

.input {
  width: 30%;
  height: 50px;
  color: $color-text;
  text-align: top;
  background-color: $color-bgLigh;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 10px;
}

.inputBlock {
  width: 50%;
  height: 200px;
  color: $color-text;
  text-align: top;
  background-color: $color-bgLigh;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 10px;
}

.checkbox {
  border: 1px solid red;
}

.formContainer {
  // margin: 0rem 2rem;
}

.container {
  margin: 0rem 2rem;
}

.postList {
  margin: 0rem 2rem;
}

.textContainer {
  display: flex;
  height: 200px;
}
