$color-gray: #b5bdc4;
$color-grayTransparent: #848484;
$color-text: #cecac3;
$color-text: #08090a;
$color-bg: #181a1b;
$color-bgLigh: #1f2223;
$color-text: #cecac3;
$color-blue: #3b49df;
$color-red: #d64550;
$color-green: #3bdf72;
$color-salmon: #ea9e8d;
